.editor-styles-wrapper,
.editor-styles-wrapper .editor-writing-flow,
.editor-styles-wrapper p,
.editor-styles-wrapper .wp-block p {
  font:    15px / 20px "Arial", Helvetica, Arial, Verdana, sans-serif;
  word-spacing: normal;
}
.editor-styles-wrapper .wp-block-cover .wp-block-cover-text,
.editor-styles-wrapper .wp-block-cover h2 {
  font:    24px / 22px "Arial", Helvetica, Arial, Verdana, sans-serif !important;
  text-transform: none;
}
.text-big,
.dt-accordion-text-big .wpb_accordion_header > a {
  font-size: 15px;
  line-height: 20px;
}
.text-normal,
.dt-accordion-text-normal .wpb_accordion_header > a {
  font-size: 13px;
  line-height: 20px;
}
.text-small,
.dt-accordion-text-small .wpb_accordion_header > a {
  font-size: 12px;
  line-height: 20px;
}
.wp-block-heading h1 {
  font:   600 22px / 27px "Arial", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.wp-block-heading h2 {
  font:   600 18px / 22px "Arial", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.wp-block-heading h3 {
  font:    24px / 22px "Arial", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.wp-block-heading h4 {
  font:    20px / 22px "Arial", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.wp-block-heading h5 {
  font:    16px / 22px "Arial", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.wp-block-heading h6 {
  font:    13px / 16px "Arial", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.editor-styles-wrapper .wp-block .wp-block-button .wp-block-button__link {
  font:    13px / 15px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
